<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Wii Cats</title>
</head>
<body>
<header>
    <img src="Images/mustache.png" alt="Logo" style="height: 79px; width: auto;">
    <h2>Wii Cats</h2>
</header>
<div class="layout">
    <div class="foto" id="img1" onclick="change(this)"></div>
    <div class="foto" id="img2" onclick="change(this)"></div>
    <div class="foto" id="img3" onclick="change(this)"></div>

    <div class="foto" id="img4" onclick="change(this)"></div>
    <div class="foto" id="img5" onclick="change(this)"></div>
    <div class="foto" id="img6" onclick="change(this)"></div>

    <div class="foto" id="img7" onclick="change(this)"></div>
    <div class="foto" id="img8" onclick="change(this)"></div>
    <div class="foto" id="img9" onclick="change(this)"></div>
</div>
        <script defer src="js/interaction.js"></script>
</body>
</html>